<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DNSer</string>
	<key>CFBundleDisplayName</key>
	<string>DNSer</string>
	<key>CFBundleIdentifier</key>
	<string>enterprises.sdk.dnser.desktop</string>
	<key>CFBundleExecutable</key>
	<string>dnser-desktop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>{{VERSION}}</string>
	<key>CFBundleShortVersionString</key>
	<string>{{VERSION}}</string>
	<key>CFBundleIconFile</key>
	<string>dnser</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © SDK Enterprises. All rights reserved.</string>
</dict>
</plist>
