class Dnser < Formula
  desc "Local DNS management for development"
  homepage "https://github.com/SDK-E/dnser"
  version "{{VERSION}}"
  license :"business-source-license"

  on_arm do
    url "{{URL_BASE}}/dnser_{{VERSION}}_Darwin_arm64.tar.gz"
    sha256 "{{SHA_ARM}}"
  end
  on_intel do
    url "{{URL_BASE}}/dnser_{{VERSION}}_Darwin_amd64.tar.gz"
    sha256 "{{SHA_INTEL}}"
  end

  def install
    bin.install "dnser"
  end

  def caveats
    <<~EOS
      Run the guided setup once:
        dnser setup
    EOS
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/dnser version")
  end
end
